.App {
  text-align: center;
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
}
section{
  background: cyan;
}
footer{
  background: black;
  color: white;
}
.relative{
  position: relative;
  background: pink;
  height: 3rem;
  width: 3rem;
}
.absolute{
  position: absolute;
  background: green;
  height: 3rem;
  width: 3rem;
  right: 2rem;
  top: 2rem;
}
.span{
  background: brown;
  height: 3rem;
  width: 3rem;
display: inline-block;
}

.fixed{
  position: fixed;
  background: orange;
  height: 3rem;
  width: 3rem;
  right: .5rem;
  top: .5rem;
}
.lists{
  width: 40rem;
  display: flex;
}